main {
  --h1-font-size: 1.5em;
  --main-font-size: 1em;
  display: flex;
  align-items: center;
  flex-grow: 1;
  position: relative;
  margin-bottom: $footer-height;
  //background-color: var(--bg-form);
  color: var(--text);

  a {
    $time: .2s;
    position: relative;
    margin: 0 auto;
    color: var(--text-a);
    font-weight: 500;

    transition: color $time linear;

    &:hover {
      --text-a: var(--text-a-hover);

      &::after {
        left: 0;
        width: 100%;
      }
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 0;
      height: 3px;
      background-color: var(--text-a);

      transition: transitions($time, left, width, background-color);
    }
  }
  @include mq([svga-w svga-h], [w h]) {
    --h1-font-size: 2em;
    --main-font-size: 1.8em;
  }
}

h2 {
  text-align: center;
  width: 80%;
  margin: 0 auto;

  @include mq([svga-w svga-h], [w h]) {
    width: 100%;
    font-size: 5em;
  }
}

input {
  width: 100%;
  padding: .25 .5em;

  border: {
    style: solid;
    width: .3em;
    color: var(--border-input);
    radius: .5em;
  }
  background-color: var(--bg-input);
  color: var(--border-input);
  text-align: center;
  font-size: var(--main-font-size);

  transition: transitions(.3, border-color, color);

  .form &:focus {
    --border-input: var(--text-ainput-hover);
    --text-input: var(--text-input);

    & + label {
      color: var(--text-input-hover);

      transition: color $time linear;
    }
  }
}

.form {
  //*
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  border-radius: 50px;
  background-color: var(--bg-form);
    /*
    --main-font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //*/

  @include mq(600) {
    width: 50%;
  }
}

label {
  font: {
    size:var(--main-font-size);
    weight: 500;
  }
  color: var(--border-input);
}

.row {
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 1rem;
}

.result {
  border: none;
  font: {
    family: monospace;
    size: var(--main-font-size);
  }
  background-color: transparent;
}

.button-div {
  display: flex;
  justify-content: space-evenly;
  align-items: end;
}

.copy {
  display: inline-block;
  width: 48px;
  aspect-ratio: 1;
  padding: 5px;
  z-index: 5;

  @include mq([svga-w svga-h], [w h]) {
    width: 62px;
  }
}