nav {
  position: fixed;
  bottom: $footer-height;
  z-index: 2;
  width: $menu-width;
  line-height: 1.5em;
  border-radius: 0 50px 0 0;
  overflow: hidden;
  background-color: var(--bg-nav);

  transform: translateY(100%);

  transition: transitions(.1, transform);

  &.menu-show {
    transform: translateY(0);
  }

  label {
    display: block;
    padding-left: .5em;
    line-height: 1.5;
    font: {
      size: 1em;
      weight: 700;
    }
    color: var(--text-a);
    cursor: pointer;

    transition: transitions(.3, background-color, padding-left);

    &:hover {
      background-color: var(--bg-nav-a-hover);
      padding-left: 2em;
    }
  }

  input[type="radio"]:checked + label {
    background-color: var(--bg-checked);
    color: var(--text-checked);
  }
}