@mixin mq ($value, $condition:min-width) {
  @if type-of($value) == string or type-of($value) == number {
    $condition: to-lower-case($condition);
    $condition: conditions($condition);
    @if not index([landscape portrait light dark], $value) and index([min-width max-width min-height max-height], $condition)  {
      @media screen and (#{$condition}:breakpoints($value)) {
        @content;
      }
    } @else if index([landscape portrait], $value) {
        @media screen and (orientation:$value) {
          @content;
      }
    } @else if index([light dark], $value) {
      @media screen and (prefers-color-scheme:$value) {
        @content;
      }
    } @else {
      @media screen and (#{$condition}:$value) {
        @content;
      }
    }
  } @else if type-of($value) == list and type-of($condition) == list and length($value) == length($condition) and length($condition) == 2 {
    $value1: nth($value, 1);
    $value2: nth($value, 2);
    $condition1: conditions(nth($condition, 1));
    $condition2: conditions(nth($condition, 2));

    @media screen and (#{$condition1}:breakpoints($value1)) and (#{$condition2}:breakpoints($value2)) {
      @content
    };
  } @else if length($value) != length($condition) and length($condition) != 2 {
    @error "Tiene que haber 2 resoluciones y dos condiciones, ej mq([svg-w svga-h], [w h]) {}"
  }
}