$colors: (
  bg: hsl(160deg, 100, 75),
  bg-button: $bg,
  bg-button-hover: adjust-color($bg, $saturation: -49, $lightness: -15%),
  bg-input: transparent,
  bg-form: lighten($bg, 12%),
  bg-nav: adjust-color($bg, $lightness: -25%),
  border-input: adjust-color($bg, $saturation: -49, $lightness: -25%),
  logo-fill: $bg,
  logo-stroke: darken($bg, 40%),
  logo-stroke-hover: adjust-color($bg, $lightness: -50%),
  text: black,
  text-a: darken(limegreen, 10%),
  text-a-hover: black,
  text-button: darken($bg, 40%),
  text-button-hover: darken($bg, 40%),
  text-header: darken($bg, 40%)
);

:root {
  --bg: #{$bg};
  --bg-button: #{$bg-button};
  --bg-button-hover: #{$bg-button-hover};
  --bg-form: #{$bg-form};
  --bg-menu-a: #{$bg-button-hover};
  --bg-menu-a-hover: #{$text-a-hover};
  --bg-nav: #{$bg-nav};

  --border-input: #{$border-input};

  --logo-fill: #{$bg};
  --logo-stroke: #{$logo-stroke};
  --logo-stroke-hover: #{$logo-stroke-hover};

  --text: #{$text};
  --text-a: #{$text-a};
  --text-a-hover: #{$text-a-hover};
  --text-button: #{$text-button};
  --text-button-hover: #{$text-button-hover};
  --text-header: #{$text-header};

  @include mq(dark) {
/*
    --bg: ;
    --bg-button: ;
    --bg-button-active: ;
    --bg-button-hover: ;
    --bg-form: ;
    --bg-menu-a: ;
    --bg-menu-a-hover: ;
    --bg-nav: ;

    --border-input: ;

    --logo-fill: ;
    --logo-stroke: ;
    --logo-stroke-hover: ;
  
    --text: ;
    --text-a: ;
    --text-a-hover: ;
    --text-button: ;
    --text-button-hover: ;
    --text-header: ;
    //*/
  }
}