$color: hsl(160deg, 100, 75);

$light: (
  bg: $color,
  bg-button: $color,
  bg-button-hover: adjust-color($color, $saturation: -49, $lightness: -15%),
  bg-checked: white,
  bg-input: transparent,
  bg-form: lighten($color, 12%),
  bg-nav: adjust-color($color, $lightness: -25%),
  bg-nav-a-hover: adjust-color($color, $lightness: 5%),
  border-input: adjust-color($color, $saturation: -49, $lightness: -25%),
  logo-stroke: darken($color, 40%),
  logo-stroke-hover: adjust-color($color, $lightness: -50%),
  text: dimgray,
  text-a: adjust-color($color, $saturation: -49, $lightness: -45%),
  text-a-hover: adjust-color($color, $saturation: -49, $lightness: -45%),
  text-checked: adjust-color($color, $lightness: -30%),
  text-input-hover: black,
  text-button: darken($color, 40%),
  text-button-hover: darken($color, 40%),
  text-header: darken($color, 40%)
);

$bg: black;
$dark: (
  bg: $bg,
  bg-button: $color,
  bg-button-hover: adjust-color($color, $saturation: -49, $lightness: -15%),
  bg-checked: $color,
  bg-input: rgba($color, .4),
  bg-form: $bg,
  bg-nav: adjust-color($color, $lightness: -65%),
  bg-nav-a-hover: adjust-color($color, $lightness: 25%),
  border-input: adjust-color($color, $saturation: -49, $lightness: -25%),
  logo-stroke: darken($color, 40%),
  logo-stroke-hover: adjust-color($color, $lightness: -50%),
  text: lightgray,
  text-a: white,
  text-a-hover: black,
  text-checked: adjust-color($color, $lightness: -50%),
  text-input-hover: white,
  text-button: darken($color, 40%),
  text-button-hover: darken($color, 40%),
  text-header: darken($color, 40%)
);

:root {
  @include colors($light);

  @include mq(dark) {
    //*
    @include colors($dark);
    //*/
  }
}