@function transitions ($time, $propertys...) {
  @if (unit($time) == "") {
    $time: $time * 1s;
  }
  $aux: #{nth($propertys, 1) $time linear} ;
  @each $property in $propertys {
      @if index($propertys, $property) > 1 {
        $aux: append($aux, $property $time linear, comma)
      }
  }
  @return $aux;
}